.App {
  text-align: center;
  border : solid rgba(187, 187, 187, 0.5) 1px;
  height: 70vh;
  width: 60vw;
  min-width: 400px;
  min-height: 600px;
  margin : 15vh auto auto auto;
  border-radius: 12px;
  position: relative;
  display: flex;
  background-color: white;
}

h1{
  position: absolute;
  top : 5%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Main{
  box-sizing: border-box;
  flex-grow: 3;
  height: calc(100% - 100px);
  min-height: 80%;
}

.list{
  box-sizing: border-box;
  height: calc(100% - 40px);
  padding: 1% 10%;
}